/* For use in src/lib/core/theming/_palette.scss */
$tz-primary: (
    50 : #edeeef,
    100 : #d3d6d8,
    200 : #b6babe,
    300 : #999ea4,
    400 : #838a91,
    500 : #6d757d,
    600 : #656d75,
    700 : #5a626a,
    800 : #505860,
    900 : #3e454d,
    A100 : #aad0fc,
    A200 : #79b5fb,
    A400 : #419aff,
    A700 : #288cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$tz-accent: (
    50 : #e7e7e8,
    100 : #c2c4c6,
    200 : #9a9da0,
    300 : #727579,
    400 : #53585d,
    500 : #353a40,
    600 : #30343a,
    700 : #282c32,
    800 : #22252a,
    900 : #16181c,
    A100 : #63a2ff,
    A200 : #3084ff,
    A400 : #0065fc,
    A700 : #005be3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

